<VirtualHost *:80>

    ServerAdmin admin@lvr.org

    ServerName webmail.lvr.org

    ServerAlias webmail.lvr.org

    DocumentRoot /var/www/rainloop/



    <Directory />

        Options +Indexes +FollowSymLinks +ExecCGI

        AllowOverride All

        Order deny,allow

        Allow from all

        Require all granted

    </Directory>



    <Directory /var/www/rainloop/data>

        Require all denied

    </Directory>



    ErrorLog /var/log/apache2/rainloop_error_log

    TransferLog /var/log/apache2/rainloop_access_log

</VirtualHost>
